<div class="container">
    <div class="row">
        <div class="col-md-6">
        <img src="./assets/images/tito.jpg" class="img-responsive" style="width:100%; height:auto;">
        </div>
       <div class="col-md-6 scrollable">
       <div >
           <h1 class="text-center about mt-5">About</h1>
           <div class="underline"></div>
        </div>
       <hr>
       <div>
           <ul>
               <li><p>Titus is God fearing, full-stack web developer and tech ethusiast person who loves to solve world problems through coming up with useful softwares. He is an innovative individula who is ready to learn. He also like collaborating with others through team work to come up with fancy and problem solving applications</p></li>
           </ul>
          

       </div>
       <hr>
       <hr>
       <div>
            <ul>
                    <li><p>Titus is at present a fourth year student at <a href="https://www.ueab.ac.ke/" target="_blank">University Of Eastern Africa, Baraton</a> pursuing BSc. in Software engineering. Graduating in 2020 God willing</p></li>
                </ul>
           
       </div>
       <hr>
       <hr>
       <div>
            <ul>
                    <li><p>Recently finished web development bootcamp at <a href="https://moringaschool.com/" target="_blank">Moringa School</a></p></li>
                </ul>
           
       </div>
        </div>

    </div>
</div>
