
<div class="page-container">

    

    
    <!--Resume Page-->
    <div class="single-page">
        
        <!--Resume Page Contents-->
        <div class="page-info container-fluid">
            <div class="row resume">
                <div class="over-div"></div>
                <div class="sec-divider"></div>
                <h2 class="section-title">My Key Skills</h2>
                <div class="container">
                    
                    
                    <!-- skill-opt2 -->
                    <div class="skill-opt2">

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  skills">
                    

                            <ul class="skills-list">
                                <li>
                                    <h3>Javascript & JQuery  </h3>
            
                                    <p>I build both small and large scale applications in Javascript for both  desktop and tablets. Combined with an indepth knowledge of UX, I can build user friendly applications from start to finish.</p>
                                    <!-- <p>Adept with popular framework such as jquery, I am also equipped with the knowledge API's</p> -->
                                </li>
                                <li>
                                    <h3>HTML & CSS</h3>
                                    
                                    <p>I would not be a complete web developer without HTML and CSS. I use this skill everytime I set out to build any application.</p>
                                </li>
                                <li>
                                    <h3>Python</h3>
                                
                                    <p>Python is a growing skill which I build on regularly. I have worked on a number of projects using python frameworks such as Django and Flask.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 employment">
                        
                            
                            <div id="myCanvasContainer">
                                <canvas width="500" height="500" id="myCanvas">
                                <ul>
                                    <li> 
                                    <a><img src="assets/images/Html5.png" alt=""></a>
                                    </li>
                                    <li>
                                    <a><img src="assets/images/css.png" alt=""></a>
                                    </li>
                                    <li>
                                    <a><img src="images/js.png" alt=""></a>
                                    </li>
                                    <li>
                                    <a><img src="assets/images/flask.png" alt=""></a>
                                    </li>
                                    <li>
                                    <a><img src="assets/images/django.png" alt=""></a>
                                    </li>
                                    <li>
                                    <a><img src="assets/images/python1.png" alt=""></a>
                                    </li>
                                    
                                    <li>
                                    <a><img src="assets/images/postgresql.png" alt=""></a>
                                    </li>
                                    <li>
                                        <a><img src="assets/images/angular.png" alt=""></a>
                                        </li>

                                    <li>
                                    <a><img src="images/bootstrap.png" alt=""></a>
                                    </li>
                                    <li>
                                    <a><img src="assets/images/jquery.png" alt=""></a>
                                    </li>
                                </ul>
                                </canvas>
                            </div>
    .
                        </div>
                    </div>
                    <!-- skill-opt2 end -->
                </div>
                <!--container end-->

            </div>
            <!--Resume section end--> 

            
        </div>
        <!--Page-info-->

    </div>
    <!--single page end-->


    


</div>
<!--page container end-->

<!--Javascripts-->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<!-- <script src="js/jquery-2.1.1.js"></script> -->
<!-- <script src="js/tagcanvas.js"></script>
<script src="lib/magnific-popup/jquery.magnific-popup.js"></script>
<script src="js/scripts.js"></script> -->


