<section id="index">
        <div class="container">
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <div class="intro">
                            <h1 class="animated slideInLeft">Titus Opiyo</h1>
                            <h3 class="animated fadeIn" style="animation-delay:1s;">(Full-Stack Web Developer)</h3>
                        </div>
                        
                    </div>
                </div>
            </div>
            
</section>
