/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* body{
    background: url(assets/images/img1.JPG)center/ cover no-repeat fixed ;
    min-height: 100vh;
} */
/* body, html{
    height: 100%; */
      /* background-image: url('src/assets/images/tito.jpg'); */

  /* Full height */
  /* height: 100%;  */

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background: url(src/assets/images/tito.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

    
  
    
